body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

#menu {
	width: 15em;
	padding: 15px;
	position: absolute;
	top: 30px;
	left: 0;
}

#menu ul {
	list-style: disc;
	margin: 0;
	padding : 1em;
}

#content {
	margin-left: 16em;
	margin-right: 1em;
}

#header {
	background: #6589b4;
	padding: 0.5em 1em;
	color: #fff;
	border-bottom: 3px #d2dae4 solid;
}

#header h1 {
	color: #fff;
	margin: 0;
	font-size: 140%;
}

#header h1 a {
	color: #fff;
}

#footer {
	clear: both;
	font-size: 85%;
	color: #999;
	margin: 1em;
}

a:link		{ color: #3f5ace;  }
a:visited	{ color: #3f5ace; }
a:hover		{ color: #333; }
a:active	{ color: #000; }

pre {
	font-size: 85%;
}

#source_code {
	border: 1px dashed #ccc;
	background: #eee;
	padding: 1em;
	margin: 0;
}

#source_code pre {
	margin: 0;
	padding: 0;
}

.text-block {
	border: 5px solid #eee;
	padding: 15px;
}

ol.string-demo li {
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
}

ol.string-demo li div {
	padding-bottom: 1em;
}

div.string-unformatted-text {
	font-family: monospace;
	border: 1px dashed #ccc;
	background: #eee;
	padding: 1em;
	margin-bottom: 1em;
}
