# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
vendor/
node_modules/

# testing and code styling output
/build/
.php-cs-fixer.cache
.phpunit.result.cache

# misc
.DS_Store
.env
.idea/
*.swp

