parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method SwatControl\:\:geAvailabletHtmlHeadEntrySet\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: Swat/SwatActionItem.php

		-
			message: '#^Class SwatHtmlTag referenced with incorrect case\: SwatHtmltag\.$#'
			identifier: class.nameCase
			count: 1
			path: Swat/SwatChangeOrder.php

		-
			message: '#^Method SwatForm\:\:process\(\) should return true but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: Swat/SwatForm.php

		-
			message: '#^Access to an undefined property SwatHtmlHeadEntry\:\:\$ie_conditional\.$#'
			identifier: property.notFound
			count: 1
			path: Swat/SwatHtmlHeadEntry.php

		-
			message: '#^Undefined variable\: \$copy_child$#'
			identifier: variable.undefined
			count: 3
			path: Swat/SwatInputCell.php

		-
			message: '#^Call to an undefined method SwatRadioNoteBook\:\:getChildren\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Swat/SwatRadioNoteBook.php

		-
			message: '#^Access to an undefined property SwatUIObject\:\:\$inline_scripts\.$#'
			identifier: property.notFound
			count: 1
			path: Swat/SwatUIObject.php

		-
			message: '#^Call to an undefined method SwatView\:\:getDescendants\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Swat/SwatView.php

		-
			message: '#^Access to an undefined property SwatYUIComponent\:\:\$html_head_entry_set\.$#'
			identifier: property.notFound
			count: 3
			path: Swat/SwatYUIComponent.php
