.swat-header-form-field input.swat-primary,
.swat-footer-form-field input.swat-primary {
	font-weight: bold;
}

.swat-header-form-field .swat-button,
.swat-footer-form-field .swat-button,
.swat-header-form-field .swat-reset-button,
.swat-footer-form-field .swat-reset-button {
	margin-right: 0.5em;
}

.swat-button-compact {
	font-size: 80%;
	padding: 0;
	border-width: 1px;
}

.swat-button,
.swat-reset-button {
	vertical-align: middle;
}

.swat-button-processing-throbber {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding-left: 20px;
	margin-left: 0.5em;
	background: url(../images/swat-button-throbber.gif) no-repeat 0 0;
	display: inline-block; /* This is needed for IE8 opacity to work */
}

.swat-image-button {
	cursor: pointer;
	cursor: hand;
}
