.swat-image-preview-display-link {
	/* note: relative positioning breaks background position in IE6 */
	font-size: 85%;
	padding-right: 16px;
	background-image: url(../images/swat-image-preview-display-zoom.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.swat-image-preview-display-link img {
	vertical-align: top;
	padding: 2px;
	background: #fff;
	border: 1px solid #dcceb2;
}

.swat-image-preview-display-link:hover img {
	border-color: #3f5ace;
}

.swat-image-preview-overlay {
	position: absolute;
	opacity: 0.6;
	filter:alpha(opacity = 60);
	z-index: 999999;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
}

.swat-image-preview-container {
	position: absolute;
	z-index: 1000000;
	text-align: center;
}

.swat-image-preview-container img {
	cursor: pointer;
	display: block;
	padding: 8px;
	background: #fff;
	border: 1px solid #dcceb2;
}
