.swat-image-preview-display-link {
	/* note: relative positioning breaks background position in IE6 */
	font-size: 85%;
	padding-right: 16px;
	background-image: url(../images/swat-image-preview-display-zoom.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.swat-image-preview-display-link img,
a.swat-image-preview-display-link-plain img {
	vertical-align: top;
	padding: 2px;
	background: #fff;
	border: 1px solid #dcceb2;
}

a.swat-image-preview-display-link:hover img,
a.swat-image-preview-display-link-plain:hover img {
	border-color: #3f5ace;
}

.swat-image-preview-overlay {
	position: absolute;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity = 60);
	opacity: 0.6;
	z-index: 999999;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
}

.swat-image-preview-container {
	position: absolute;
	z-index: 1000000;
	text-align: center;
	border: 1px solid #dcceb2;
	background: #fff;
	padding: 8px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.swat-image-preview-container a {
	text-decoration: none;
	display: block;
	outline: none;
}

.swat-image-preview-container img {
	cursor: pointer;
	display: block;
}

span.swat-image-preview-close {
	font-weight: bold;
	display: block;
	padding: 0 0 8px 0;
}
