div.yuimenubar {
	background: #f6f2ea url(../images/swat-toolbar-background.png) top left repeat-x;
	border-bottom: 1px solid #efe8da;
	margin: -16px -16px 0 -16px;
	list-style-type: none;
	padding: 0;
}

div.yuimenu {
	background:#FFFFFF url(../images/swat-frame-background.png) no-repeat scroll right top;
	border-color: #DCCEB2;
}

div.yuimenu h6,
div.yuimenubar h6 {
	color: #837352;
}

div.yuimenu li,
div.yuimenubar li {
	font-size: 100%;
}

div.yuimenu li a,
div.yuimenubar li a {
	color: #3F5ACE;
	outline: none;
}

div.yuimenu li.selected a.selected,
div.yuimenubar li.selected a.selected {
	color: #204A87;
	text-decoration: none;
	outline: none;
}

div.yuimenu li.selected,
div.yuimenubar li.selected,
div.yuimenu li.selected a.selected,
div.yuimenubar li.selected a.selected {
	background: #f3efe5;
}

div.yuimenu li.yuimenuitem,
div.yuimenubar li.yuimenubaritem {
	padding: 0;
	float: none;
}

div.yuimenubar li.yuimenubaritem li.yuimenuitem a {
	border: 0;
}

div.yuimenubar li.yuimenubaritem a {
	padding: 5px 10px 5px 15px;
	border-color: #F0EADE;
	border-style: solid;
	border-width: 0 1px 0 0;
}

div.yuimenu li.yuimenuitem a {
	padding: 5px 10px 5px 15px;
	display: block;
}

div.yuimenu li.hassubmenu a.hassubmenu {
	float: none;
	display: block;
}

div.yuimenubar ul li.yuimenubaritem.hassubmenu ul li.yuimenubaritem a {
	border: 0;
}

div.yuimenubar li.yuimenubaritem,
div.yuimenubar li.yuimenubaritem.first-of-type {
	border: 0;
}

div.yuimenubar ul {
	padding: 5px 0;
}

div.yuimenu ul {
	padding: 0;
}

div.yuimenubar li.yuimenubaritem img {
	display: none;
}

div.yuimenubar li.yuimenubaritem.hassubmenu {
	background: url(../images/swat-menubar-hassubmenu.png) center right no-repeat;
}

div.yuimenubar li.yuimenubaritem.hassubmenu a {
	padding-right: 22px;
}

div.yuimenu li.yuimenuitem.hassubmenu {
	background: url(../images/swat-menu-hassubmenu.png) center right no-repeat;
}

div.yuimenu li.yuimenuitem.hassubmenu a {
	padding-right: 22px;
}

/* Stock types */

div.yuimenubar .swat-menu-item-delete:link,
div.yuimenubar .swat-menu-item-delete:visited {
	background: url(../images/swat-tool-link-delete.png) 6px center no-repeat;
	color: #C00;
	padding-left: 28px;
}

div.yuimenubar li.selected a.selected.swat-menu-item-delete {
	background: #f3efe5 url(../images/swat-tool-link-delete.png) 6px center no-repeat;
}

