.swat-hidden { display: none; }

.swat-clear { clear: both; }

img.swat-image-cell-renderer { vertical-align: middle; }

.swat-none {
	color: #888;
}

.swat-nowrap {
	white-space: nowrap;
}

input.swat-insensitive {
	cursor: default;
}

option.swat-blank-option,
option.swat-flydown-option-divider {
	color: #888;
}

/* SwatForm */

.swat-form { margin: 0; padding: 0; }

.swat-form label {
	font-weight: bold;
	color: #333;
	cursor: default; /* For Konqueror */
}

.swat-form .swat-insensitive label {
	color: #999;
}

label.swat-control {
	font-weight: normal;
	display: inline;
}

span.swat-required, span.swat-optional {
	font-weight: normal;
	color: #c4a000;
}

.swat-note {
	font-size: 85%;
	color: #666;
}

ul.swat-note {
	margin: 0;
	padding: 0.3em 0 0 1.5em;
}

div.swat-note { padding-top: 0.3em; }

.swat-note ul {
	margin: 0.3em 0;
	padding-left: 2em;
}

.swat-form-field-checkbox {
	margin: 0 0 0.5em 0;
}

.swat-form-field-checkbox .swat-form-field-contents {
	display: inline;
	margin-right: 0.3em;
}

.swat-form-field-checkbox input {
	vertical-align: middle;
}

.swat-checkbox-list .swat-checkbox-list-column {
	float: left;
	padding-right: 1em;
}

.swat-checkbox-list ul,
.swat-checkbox-tree ul,
ul.swat-radio-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-checkbox-list ul li,
.swat-checkbox-tree ul li,
ul.swat-radio-list li {
	list-style-type: none;
}

.swat-checkbox-list input,
.swat-checkbox-tree input,
.swat-radio-list input {
	vertical-align: middle;
}

.swat-checkbox-tree ul li ul li {
	margin-left: 1em;
}

.swat-check-all input {
	vertical-align: middle;
}

.swat-check-all label {
	display: inline;
}

.swat-extended-check-all {
	padding: 10px;
	margin: 10px;
	background-color: #fffbc9;
}

.swat-extended-check-all input {
	margin: 0 5px;
	vertical-align: text-bottom;
}

.swat-extended-check-all label {
	margin: 0 5px 0 0;
}

/* Swat Date Entry and SwatTimeEntry*/

.swat-date-entry,
.swat-time-entry {
	white-space: nowrap;
}


/* Swat Actions */

.swat-actions {
	text-align: left;
}

.swat-actions-controls {
	margin-bottom: 0.5em;
}

.swat-actions,
.swat-header-form-field,
.swat-footer-form-field {
	padding: 1em 0;
}

.swat-frame .swat-actions,
.swat-frame .swat-header-form-field,
.swat-frame .swat-footer-form-field {
	background: #f1ebdf url(../images/swat-form-footer.png) top left repeat-x;
	padding: 1em;
	margin: 15px -15px -15px -15px;
	position: relative;
}

.swat-frame .swat-header-form-field {
	background: #f7f5f3 url(../images/swat-form-header.png) top left repeat-x;
	margin: -15px -15px 15px -15px;
	background-position: bottom left;
}

.swat-actions label {
	display: inline;
}

.swat-actions-note {
	color: #666;
	font-size: 85%;
	padding-top: 0.3em;
}

.swat-actions .swat-button-apply {
	font-weight: bold;
	color: #333;
}

/* SwatFormField */

.swat-form-field {
	margin: 0 0 0.5em 0;
}

blockquote.swat-db-debug {
	border: 1px solid #666;
}


/* SwatRemoveInputCell */

.swat-remove-input-cell-remove {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: transparent url(../images/list-remove.png) no-repeat top left;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
}
