.swat-disclosure-control { }

.swat-disclosure-anchor {
	position: relative;
	top: 0.7em;
	display: inline;
	margin: 0 10px;
	padding: 0 6px;
	color: #666;
	background: #FFF;
}

.swat-disclosure-control-closed {
	margin-bottom: 1em;
}


.swat-disclosure-control-opened .swat-disclosure-container {
	display: block;	
	border: 1px solid #ddd;
	padding: 16px;
}

.swat-disclosure-control-closed .swat-disclosure-container {
	display: none;
}

.swat-disclosure-image {
	border: none;
	vertical-align: text-top;
}

.swat-disclosure-anchor {
	text-decoration: none;
}
