.swat-rating-star {
	float: left;
}

.swat-rating-star {
	display: block;
	background: url(../images/swat-rating-stars.png) no-repeat 0 0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.swat-rating-star:focus {
	outline: none;
}

.swat-rating-selected {
	background-position: 0 -20px;
}

.swat-rating-hover {
	background-position: 0 -40px;
}

.swat-rating-clear {
	clear: left;
}

.swat-insensitive .swat-rating-star {
	cursor: default;
}
