.swat-calendar {
	display: inline;
}

.ui-datepicker {
	background: #fff;
	border: 1px solid #ccc;
}

.ui-datepicker-calendar {
	border-spacing: 0;
}

.ui-datepicker td {
	padding: 0;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.ui-datepicker td:first-child {
	border-left: 0;
}

.ui-datepicker td:last-child {
	border-right: 0;
}

.ui-datepicker th {
	padding: 2px;
	width: 2.2em;
	font-weight: normal;
	font-size: x-small;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.ui-datepicker td a.ui-state-default {
	display: block;
	padding: 2px;
	color: #333;
	text-decoration: none;
}

.ui-datepicker td a.ui-state-default:hover {
	background: #eee;
}

.ui-datepicker td a.ui-state-active {
	color: HighlightText;
	background: Highlight;
}

.ui-datepicker td a.ui-state-active:hover {
	color: HighlightText;
	background: Highlight;
}

.ui-datepicker-other-month {
	color: #888;
	background: #eee;
}

.ui-datepicker-header {
	position: relative;
	padding: 3px;
	text-align: center;
	vertical-align: center;
	background: #f6f2ea url(../images/swat-calendar-header-background.png) top left repeat-x;
	border-bottom: 1px solid #ccc;
}

.ui-datepicker-title {
	font-weight: bold;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 0;
	display: block;
	width: 32px;
	padding: 3px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 0;
}

.ui-datepicker-next {
	right: 0;
}

.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
	display: block;
	overflow: hidden;
	text-indent: 110%;
}

.ui-datepicker-prev .ui-icon {
	background: transparent url(../images/go-previous.png) center center no-repeat;
}

.ui-datepicker-next .ui-icon {
	background: transparent url(../images/go-next.png) center center no-repeat;
}

.ui-datepicker-prev.ui-state-disabled .ui-icon {
	cursor: default;
	background-image: url(../images/go-previous-insensitive.png);
}

.ui-datepicker-next.ui-state-disabled .ui-icon {
	cursor: default;
	background-image: url(../images/go-next-insensitive.png);
}

.ui-datepicker-buttonpane {
	padding: 3px;
	text-align: center;
}

.ui-datepicker-current,
.ui-datepicker-close {
	margin: 0 3px;
}

.ui-datepicker-trigger {
	width: 24px;
	height: 20px;
	padding: 0;
	overflow: hidden;
	text-indent: 110%;
	cursor: pointer;
	background: transparent url(../images/tango/22/office-calendar.png) 1px -1px no-repeat;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.ie6 .ui-datepicker-trigger,
.ie7 .ui-datepicker-trigger,
.ie8 .ui-datepicker-trigger {
	background-image: url(../images/tango/22/office-calendar-256.png);
}

.swat-insensitive .ui-datepicker-trigger {
	opacity: 0.6;
}

.ie6 .swat-insensitive .ui-datepicker-trigger,
.ie7 .swat-insensitive .ui-datepicker-trigger,
.ie8 .swat-insensitive .ui-datepicker-trigger {
	background-image: url(../images/tango/22/office-calendar-256-insensitive.png);
}
