.swat-hidden { display: none; }


/* SwatToolbar  */

ul.swat-toolbar {
	background: #f6f2ea url(../images/swat-toolbar-background.png) top left repeat-x;
	border-bottom: 1px solid #efe8da;
	margin: 0 -16px;
	margin-bottom: -8px;
	list-style-type: none;
	padding: 5px 0;
	position: relative;
	top: -16px;
}

.swat-toolbar li {
	display: inline;
}

.swat-toolbar .swat-tool-link,
.swat-toolbar .swat-tool-link-insensitive
{
	padding: 5px 8px;
	border-left: 1px solid #fff;
	border-right: 1px solid #f0eade;
	text-decoration: none;
}

.swat-toolbar .swat-tool-link-insensitive {
	color: #999;
}

.swat-toolbar a.swat-tool-link:hover {
	text-decoration: underline;
	background: #f3efe5;
}

.swat-toolbar .swat-tool-link-create:link,
.swat-tool-link-create:visited {
	background: url(../images/swat-tool-link-create.png) 6px center no-repeat;
	color: #008e36;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-create:hover {
	background: #f3efe5 url(../images/swat-tool-link-create.png) 6px center no-repeat;
}

.swat-toolbar .swat-tool-link-delete:link,
.swat-tool-link-delete:visited {
	background: url(../images/swat-tool-link-delete.png) 6px center no-repeat;
	color: #e31b0c;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-delete:hover {
	background: #f3efe5 url(../images/swat-tool-link-delete.png) 6px center no-repeat;
}

.swat-toolbar .swat-tool-link-edit:link,
.swat-tool-link-edit:visited {
	background: url(../images/swat-tool-link-edit.png) 6px center no-repeat;
	padding-left: 28px;
}

.swat-toolbar a.swat-tool-link-edit:hover {
	background: #f3efe5 url(../images/swat-tool-link-edit.png) 6px center no-repeat;
}

.swat-toolbar .swat-tool-link-change-order {
}


/* SwatTextarea */

.swat-textarea {
	padding: 4px;
}

option.swat-flydown-option-divider {
	color: #888;
}


/* SwatFrame */

.swat-frame {
	margin: 1em 0;
	border: 1px solid #dcceb2;
	background: #fff url(../images/swat-frame-background.png) top right no-repeat;
}

.swat-frame .swat-frame-title {
	margin: 1px 1px 0 1px;
	padding: 2px 6px;
	color: #6b5d40;
	background: #fff url(../images/swat-frame-header.png) bottom left repeat-x;
}

.swat-frame-contents {
	padding: 16px;
}

.swat-frame .swat-frame-subtitle {
	font-weight: normal;
}


/* SwatForm */

.swat-form { margin: 0; }

.swat-form label {
	font-weight: bold;
	color: #333;
	font-size: 0.85em;
	display: block;
}

label.swat-control {
	font-weight: normal;
	display: inline;
}

.swat-form-field {
	margin: 0 0 0.5em 0;
}

.swat-form-field .swat-required {
	font-weight: normal;
	color: #888;
}

.swat-widget-note, .swat-form-field-note {
	font-size: 85%;
	color: #666;
}

.swat-form-field-error {
	border: 1px solid #C00;
	background: #ffe3e0;
	padding: 0.5em;
	margin: 0.5em 0;
}

.swat-form-field-errormsg {
	color: #C00;
	font-size: 85%;
	padding: 4px 4px 4px 24px;
	margin: 1em -0.5em -0.5em -0.5em;
	background: transparent url(../images/tango/16/dialog-error.png) 4px 4px no-repeat;
}

.swat-footer-form-field {
	text-align: right;
}

.swat-footer-form-field input.primary {
	padding: 0.2em 0.6em;
	font-weight: bold;
}

.swat-disclosure-control {
}

.swat-disclosure-anchor {
	position: relative;
	top: 0.7em;
	display: inline;
	margin: 0 10px;
	padding: 0 6px;
	color: #666;
	background: #FFF;
}

.swat-disclosure-control-closed {
	margin-bottom: 1em;
}


.swat-disclosure-control-opened .swat-disclosure-container {
	display: block;	
	border: 1px solid #ddd;
	padding: 16px;
}

.swat-disclosure-control-closed .swat-disclosure-container {
	display: none;
}

.swat-disclosure-image {
	border: none;
	vertical-align: text-top;
}

.swat-disclosure-anchor {
	text-decoration: none;
}

.swat-form-field-checkbox {
	margin: 0 0 0.5em 0;
}

.swat-form-field-checkbox label {
	display: inline;
}

.swat-form-field-checkbox input {
	vertical-align: middle;
}

.swat-checkbox-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-checkbox-list input, .swat-checkbox-tree input {
	vertical-align: middle;
}

.swat-checkbox-tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-checkbox-tree ul li ul li {
	margin-left: 1em;
}

.swat-expandable-checkbox-tree input {
	vertical-align: middle;
}

.swat-expandable-checkbox-tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-expandable-checkbox-tree ul li ul li {
	margin-left: 36px;
	/*border: 1px solid red;*/
}

.swat-expandable-checkbox-tree ul li ul li.swat-expandable-checkbox-tree-expander {
	margin-left: 20px;
/*	border: 1px solid;*/
}

.swat-expandable-checkbox-tree-opened {
	display: block;
}

.swat-expandable-checkbox-tree-closed {
	display: none;
}

.swat-expandable-checkbox-tree-image {
	vertical-align: text-top;
}

.swat-check-all input {
	vertical-align: middle;
}

.swat-check-all label {
	display: inline;
}


/* SwatFieldset */

.swat-fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 1em;
}

.swat-fieldset legend {
	font-weight: bold;
	color: #666;
	margin: 0 0.3em;
}

/* SwatTableView */

table.swat-table-view {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1em;
}

.swat-table-view th, .swat-table-view td {
	padding: 0.2em;
	text-align: left;
}

.swat-table-view thead {
	border-bottom: 1px solid #eee;;
}

.swat-table-view tbody tr {
	background: url(../images/swat-table-view-cell-back.png) bottom repeat-x;
}

.swat-table-view tbody tr.highlight, .swat-table-view tbody tr.highlight-odd {
	background: #f7f5f3 url(../images/swat-table-view-cell-highlight-back.png) bottom repeat-x;
}

.swat-table-view th {
	color: #666;
	font-size: 85%;
	font-weight: bold;
}
.swat-table-view th a:link, .swat-table-view th a:visited { color: #333; }
.swat-table-view th a:hover, .swat-table-view th a:active { color: #000; }

.swat-table-view td.swat-image-link-cell-renderer { width: 32px; }
.swat-table-view td.swat-checkbox-cell-renderer { width: 24px; }

td.swat-table-view-group {
	font-weight: bold;
	padding-top: 1em;
	background: #FFF;
	border-bottom: 1px solid #EEE;
}

table.swat-table-view td.swat-check-cell,
table.swat-table-view th.swat-check-cell {
	text-align: center;
}



img.swat-image-cell-renderer { vertical-align: middle; }

.swat-none {
	color: #888;
}


/* SwatDetailsView */

.swat-details-view-field th, 
.swat-details-view-vertical-field th,
.swat-details-view-vertical-field .swat-details-view-field-header {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	color: #666;
	width: 10em;
}

.swat-details-view-field th {
	text-align: right;
}

.swat-details-view-field ul {
	margin: 0;
	padding: 0 0 0 1.5em;
	list-style-type: circle;
}

/* Swat Date Entry */

span.swat-date-span {
	white-space: nowrap;
}

/* Swat Time Entry */

span.swat-time-span {
	white-space: nowrap;
}

/* Swat Actions */

.swat-actions {
	text-align: right;
}

.swat-actions-controls {
	margin-bottom: 0.5em;
}

.swat-actions, .swat-footer-form-field {
	background: #f7f5f3 url(../images/swat-form-footer.png) top left repeat-x;
	margin: 15px -15px -15px -15px;
	padding: 1em;
}

.swat-actions label {
	display: inline;
}
.swat-actions-note {
	color: #666;
	font-size: 85%;
	padding-top: 0.5em;
}

/* Swat Buttons */

.swat-button-submit, .swat-button-create, .swat-button-apply {
	font-weight: bold;
	margin: 0 0.2em;
}
