.swat-hidden { display: none; }

a.swat-tool-link {
	padding: 0.4em 0.6em;
	background: #f9f6f0 url(../images/swat-tool-link.png) top left repeat-x;
	border: 1px solid #e7ddc8;
	font-weight: bold;
	text-decoration: none;
	margin-right: 0.5em;
}

a.swat-tool-link:hover {
	text-decoration: underline;
	border: 1px solid #ccb898;
}

a.swat-tool-link-create:link, .swat-tool-link-create:visited {
	background: #f9f6f0 url(../images/swat-tool-link-create.png) top left repeat-x;
	color: #008e36;
	padding-left: 34px;
}

a.swat-tool-link-change-order {
	font-weight: normal;
}

/* SwatEntry */

.swat-entry {
	padding: 3px;
}


/* SwatTextarea */

.swat-textarea {
	padding: 4px;
}

optgroup.swat-flydown-divider {
/*	font-style: normal;*/
	/*font-weight: bold;*/
	font-size: 90%;
	padding-left: 0.25em; /* for mozilla */
}

/* SwatMessages  */
.swat-message-display-notification {
	border: 1px solid #f0dca1;
	margin: 1em 0;
	padding: 1em 1em 1em 48px;
	background: #fffbc9 url(../images/generic-icon.png) top left no-repeat;
	color: #7b4b09;
}

.swat-message-display-notification .swat-message-display-secondary-content {
	color: #947140;
}

.swat-message-display-warning {
	border: 1px solid #facd00;
	margin: 1em 0;
	padding: 1em 1em 1em 48px;
	background: #ff9 url(../images/generic-icon.png) top left no-repeat;
	color: #533a15;
}

.swat-message-display-warning .swat-message-display-secondary-content {
	color: #947140;
}

.swat-message-display-error {
	border: 1px solid #dc6e66;
	margin: 1em 0;
	padding: 1em 1em 1em 48px;
	background: #ffb9a5 url(../images/generic-icon.png) top left no-repeat;
	color: #e31b0c;
}

.swat-message-display-error .swat-message-display-secondary-content {
	color: #d44034;
}

.swat-message-display-system-error {
	border: 1px solid #dc6e66;
	margin: 1em 0;
	padding: 1em 1em 1em 48px;
	background: #f33 url(../images/generic-icon.png) top left no-repeat;
	color: #FFF;
}

.swat-message-display-system-error .swat-message-display-secondary-content {
	color: #EEE;
}

.swat-message-display-primary-content {
	margin: 0;
	font-weight: bold;
}


/* SwatFrame */

.swat-frame {
	margin: 1em 0;
	border: 1px solid #e7ddc8;
	background: #fff url(../images/swat-frame-background.png) top right no-repeat;
}

.swat-frame h2, .swat-frame h3 {
	margin: 1px;
	padding: 2px 6px;
	color: #6b5d40;
	background: #fff url(../images/swat-frame-header.png) bottom left repeat-x;
}

.swat-frame-contents {
	padding: 16px;
}


/* SwatForm */

.swat-form { margin: 0; }

.swat-form label {
	font-weight: bold;
	color: #333;
	font-size: 0.85em;
	display: block;
}

label.swat-control {
	font-weight: normal;
	display: inline;
}

.swat-form-field {
	margin: 0 0 0.5em 0;
}

.required {
	font-weight: bold;
	color: #C00;
}

.swat-widget-note, .swat-form-field-note {
	font-size: 85%;
	color: #666;
}

.swat-form-field-error {
	border: 1px solid #C00;
	background: #fce8e7;
	padding: 0.5em;
	margin: 0.5em 0;
}

.swat-form-field-errormsg {
	color: #C00;
	font-size: 85%;
	padding: 0.3em;
	margin: 1em -0.5em -0.5em -0.5em;
}

.swat-form-footer-field {
	text-align: right;
}

.swat-form-footer-field input.primary {
	padding: 0.2em 0.8em;
	font-weight: bold;
}

.swat-disclosure-control {
}

.swat-disclosure-anchor {
	position: relative;
	top: 0.7em;
	display: inline;
	margin: 0 10px;
	padding: 0 6px;
	color: #666;
	background: #FFF;
}

.swat-disclosure-container-opened {
	display: block;	
	border: 1px solid #ddd;
	padding: 16px;
}

.swat-disclosure-container-closed {
	display: none;
}

.swat-disclosure-image {
	border: none;
	vertical-align: text-top;
}

.swat-disclosure-anchor {
	text-decoration: none;
}

.swat-order-control {
	border: 1px solid #CCC;
	background: #FFF;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
	cursor: hand;
}

div.swat-order-control:hover {
	border: 1px solid #8af;
}

.swat-order-control-active {
	border: 1px solid #8af;
	color: #fff;
	background: #79c;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
	cursor: hand;
}

.swat-order-control-list {
	border: 1px ButtonShadow solid;
	margin: 2px;
	overflow: auto;
	list-style: none;
	padding: 0;
	float: left;
}

.swat-order-control-buttons {
	float: left;
	text-align: center;
}

.swat-order-control-buttons input {
	margin: 0.5em;
	width: 7em;
}

.swat-order-control-buttons input#swat-order-control-top,
.swat-order-control-buttons input#swat-order-control-bottom {
	font-size: 85%;
	width: 10em;
}

.swat-form-field-checkbox {
	margin: 0 0 0.5em 0;
}

.swat-form-field-checkbox label {
	display: inline;
}

.swat-form-field-checkbox input {
	vertical-align: middle;
}

.swat-checkbox-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-checkbox-list input, .swat-checkbox-tree input {
	vertical-align: middle;
}

.swat-checkbox-tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-checkbox-tree ul li ul li {
	margin-left: 1em;
}

.swat-expandable-checkbox-tree input {
	vertical-align: middle;
}

.swat-expandable-checkbox-tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.swat-expandable-checkbox-tree ul li ul li {
	margin-left: 36px;
	/*border: 1px solid red;*/
}

.swat-expandable-checkbox-tree ul li ul li.swat-expandable-checkbox-tree-expander {
	margin-left: 20px;
/*	border: 1px solid;*/
}

.swat-expandable-checkbox-tree-opened {
	display: block;
}

.swat-expandable-checkbox-tree-closed {
	display: none;
}

.swat-expandable-checkbox-tree-image {
	vertical-align: text-top;
}

.swat-check-all input {
	vertical-align: middle;
}

.swat-check-all label {
	display: inline;
}


/* SwatFieldset */

.swat-fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 1em;
}

.swat-fieldset legend {
	font-weight: bold;
	color: #666;
	margin: 0 0.3em;
}

/* SwatTableView */

table.swat-table-view {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1em;
}

.swat-table-view th, .swat-table-view td {
        padding: 0.2em;
	text-align: left;
}

.swat-table-view tbody tr {
	border-top: 1px solid #eee;
}

.swat-table-view tbody tr.highlight, .swat-table-view tbody tr.highlight-odd {
        background: #f7f5f3;
	border-top: 1px solid #e7ddc8;
	border-bottom: 1px solid #e7ddc8;
}

.swat-table-view th {
	color: #666;
	font-size: 85%;
	font-weight: bold;
}
.swat-table-view th a:link, .swat-table-view th a:visited { color: #333; }
.swat-table-view th a:hover, .swat-table-view th a:active { color: #000; }

.swat-table-view td.swat-image-link-cell-renderer { width: 32px; }
.swat-table-view td.swat-checkbox-cell-renderer { width: 24px; }

td.swat-table-view-group {
	font-weight: bold;
	padding-top: 1em;
}

td.swat-table-view-group {
	font-weight: bold;
	padding-top: 1em;
}

/* SwatPagination */
.swat-pagination {
	overflow: auto;
	padding: 1em;
}

.swat-pagination a, .swat-pagination span {
	display: block;
	float: left;
	padding: 0.2em 0.5em;
	font-size: 85%;
	margin-right: 0.1em;
	border: 1px solid #FFF;
}

.swat-pagination span.current {
	border: 1px solid #DDD;
	font-weight: bold;
}

.swat-pagination a {
	border: 1px solid #DDD;
	text-decoration: none;
}

.swat-pagination a:hover {
	background-color: #DDD;
	border-color: #BBB;
}

.swat-pagination a.nextprev {
	font-weight: bold;
}

.swat-pagination span.nextprev {
	color: #666;
}

.swat-pagination div.position {
	font-size: 85%;
	font-weight: bold;
	text-align: center;
	margin: 0.2em;
}

/* Swat Date Entry */

span.swat-date-span {
	white-space: nowrap;
}

/* Swat Time Entry */

span.swat-time-span {
	white-space: nowrap;
}

/* Swat Actions */

.swat-actions {
	text-align: right;
}

.swat-actions-controls {
	margin-bottom: 0.5em;
}

.swat-actions, .swat-form-footer-field {
        background: #f7f5f3 url(../images/swat-form-footer.png) top left repeat-x;
	margin: 15px -15px -15px -15px;
	padding: 1em;
}

.swat-actions label {
	display: inline;
}
.swat-actions-note {
	color: #666;
	font-size: 85%;
	padding-top: 0.5em;
}

/* Swat Buttons */

.swat-button-submit, .swat-button-create, .swat-button-apply {
	font-weight: bold;
}
