<?xml version="1.0" standalone="no"?>
<!DOCTYPE swatml SYSTEM "http://swat.silverorange.com/swatml1.dtd">
<swatml>
	<widget class="SwatFrame">
		<property name="title">Fruit Demo Menu</property>
		<widget class="SwatMenuBar">
			<widget class="SwatMenuItem" id="test">
				<property name="stock_id">add</property>
				<widget class="SwatGroupedMenu">
					<widget class="SwatMenuGroup">
						<property name="title">Bad Apples</property>
					<widget class="SwatMenuItem">
						<property name="stock_id">edit</property>
						<property name="title">Braeburn</property>
						<property name="link">http://en.wikipedia.org/wiki/Braeburn</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Golden Delicious</property>
						<property name="link">http://en.wikipedia.org/wiki/Golden_Delicious</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Granny Smith</property>
						<property name="link">http://en.wikipedia.org/wiki/Granny_Smith</property>
					</widget>
					</widget>
					<widget class="SwatMenuGroup">
						<property name="title">Gooduns</property>
					<widget class="SwatMenuItem">
						<property name="title">Gravenstein</property>
						<property name="link">http://en.wikipedia.org/wiki/Gravenstein</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Idared</property>
						<property name="link">http://en.wikipedia.org/wiki/Idared</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">McIntosh</property>
						<property name="link">http://en.wikipedia.org/wiki/McIntosh</property>
						<widget class="SwatMenu">
							<widget class="SwatMenuItem">
								<property name="title">Courtland</property>
								<property name="link">http://en.wikipedia.org/wiki/Cortland_%28apple%29</property>
							</widget>
							<widget class="SwatMenuItem">
								<property name="title">Macoun</property>
								<property name="link">http://en.wikipedia.org/wiki/Macoun_apple</property>
							</widget>
						</widget>
					</widget>
					</widget>
				</widget>
			</widget>
			<widget class="SwatMenuItem">
				<property name="title">Oranges</property>
				<widget class="SwatMenu">
					<widget class="SwatMenuItem">
						<property name="title">Blood</property>
						<property name="link">http://en.wikipedia.org/wiki/Blood_orange</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Mandarin</property>
						<property name="link">http://en.wikipedia.org/wiki/Mandarin_orange</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Seville</property>
						<property name="link">http://en.wikipedia.org/wiki/Seville_orange</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Valencia</property>
						<property name="link">http://en.wikipedia.org/wiki/Valencia_orange</property>
					</widget>
				</widget>
			</widget>
			<widget class="SwatMenuItem">
				<property name="stock_id">delete</property>
				<property name="link">#</property>
			</widget>
		</widget>
	</widget>

	<widget class="SwatFrame">
		<property name="title">Toolbar Frame</property>
		<widget class="SwatToolbar">
			<widget class="SwatToolLink">
				<property name="title">Add</property>
				<property name="stock_id">create</property>
				<property name="link">#</property>
			</widget>

			<widget class="SwatToolLink">
				<property name="title">Delete</property>
				<property name="stock_id">delete</property>
				<property name="link">#</property>
			</widget>

			<widget class="SwatToolLink">
				<property name="title">Edit</property>
				<property name="stock_id">edit</property>
				<property name="link">#</property>
			</widget>
		</widget>
	</widget>

	<widget class="SwatFrame">
		<property name="title">Blog Admin Menu Frame</property>
		<widget class="SwatMenuBar">
			<widget class="SwatMenuItem" id="posts">
				<property name="title">Posts</property>
				<property name="link">Post</property>
			</widget>
			<widget class="SwatMenuItem" id="comments">
				<property name="title">Comments</property>
				<property name="link">Comment</property>
			</widget>
			<widget class="SwatMenuItem">
				<property name="title">Content</property>
				<widget class="SwatMenu">
					<widget class="SwatMenuItem">
						<property name="title">Tags</property>
						<property name="link">Tag</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Articles</property>
						<property name="link">Article</property>
					</widget>
				</widget>
			</widget>
			<widget class="SwatMenuItem">
				<property name="title">Tools</property>
				<widget class="SwatMenu">
					<widget class="SwatMenuItem">
						<property name="title">Authors</property>
						<property name="link">Author</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Sidebar</property>
						<property name="link">Sidebar</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Theme</property>
						<property name="link">Theme</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Preferences</property>
						<property name="link">Preferences</property>
					</widget>
				</widget>
			</widget>
			<widget class="SwatMenuItem">
				<property name="title">Admin</property>
				<widget class="SwatMenu">
					<widget class="SwatMenuItem">
						<property name="title">Components</property>
						<property name="link">AdminComponent</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Sections</property>
						<property name="link">AdminSection</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Users</property>
						<property name="link">AdminUser</property>
					</widget>
					<widget class="SwatMenuItem">
						<property name="title">Groups</property>
						<property name="link">AdminGroup</property>
					</widget>
				</widget>
			</widget>
		</widget>
	</widget>
</swatml>
