body {
	font-family: sans-serif;
}

img { border: 0; }

.swat-hidden { display: none; }

.swat-tool-link { display: block; }

/* SwatMessages  */
.swat-message-info {
	background: #fff;
}

.swat-message-warning {
	background: #ff9;
}

.swat-message-error {
	background: #f00;
}

/* SwatFrame */

.swat-frame {
	border: 1px solid #ccc;
	background: #fff;
	margin: 1em;
}

.swat-frame > h2 {
	margin: 0;
	padding: 0.2em;
	background: #eee;
}

.swat-frame-contents {
	margin: 0;
	padding: 1em;
}

.swat-frame-errormsg {
	font-color: #C00;
	background: #FCC;
	font-size: 85%;
	padding: 0.3em;
}

/* SwatForm */

form { margin: 0; }

label {
	font-weight: bold;
	color: #333;
	font-size: 0.85em;
	display: block;
}

label.swat-control {
	font-weight: normal;
	display: inline;
}

.swat-form-field {
	margin: 0 0 0.5em 0;
}

.required {
	font-weight: bold;
	color: #C00;
}

.swat-form-field-note {
	font-size: 0.85em;
	color: #666;
}

.swat-form-field-error {
	border: 1px solid #C00;
}

.swat-form-field-errormsg {
	font-color: #C00;
	background: #FCC;
	font-size: 85%;
	padding: 0.3em;
}

textarea {
	height: 15em;
	width: 30em;
}

.swat-form-footer {
	text-align: right;
}

.swat-form-footer > input.primary {
	padding: 0.2em 0.8em;
	font-weight: bold;
}
.swat-disclosure-control {
	background: #eee;
}

.swat-disclosure-container-open {
	border: 2px solid #eee;
	padding: 0.5em;
	display: block;	
}

.swat-disclosure-container-closed {
	display: none;
}

.swat-order-control {
	border:1px solid #CCC;
	font-size: 65%;
	background: #FFF;
	margin: 2px;
	padding: 0.2em;
	cursor: pointer;
	cursor: hand;
}

div.swat-order-control:hover {
	border:1px solid Highlight;
}

.swat-order-control-active {
	border:1px solid #FFF;
	font-size: 65%;
	color: HighlightText;
	background: Highlight;
	margin: 2px;
	padding: 0.2em;
	cursor: pointer;
	cursor: hand;
}

.swat-order-control-iframe-body {
	margin: 0px;
}

.swat-order-control-iframe {
	border: 1px ButtonShadow solid;
	margin: 2px;
}


/* SwatTableView */

table.swat-table-view { border-collapse: collapse; }

.swat-table-view th, .swat-table-view td {
        padding: 0.2em;
	text-align: left;
}
.swat-table-view tr.odd {
        background: #F9F6F0;
}
.swat-table-view tr.highlight {
        background: #E9E6F0;
}
.swat-table-view tr.highlight-odd {
        background: #E0DEF0;
}
.swat-table-view th {
	color: #666;
	font-size: 85%;
	font-weight: bold;
}
.swat-table-view th a:link, .swat-table-view th a:visited { color: #333; }
.swat-table-view th a:hover, .swat-table-view th a:active { color: #000; }


/* SwatPagination */
.swat-pagination {
	overflow: auto;
	padding: 1em;
}

.swat-pagination a, .swat-pagination span {
	display: block;
	float: left;
	padding: 0.2em 0.5em;
	font-size: 85%;
	margin-right: 0.1em;
	border: 1px solid #FFF;
}

.swat-pagination span.current {
	border: 1px solid #DDD;
	font-weight: bold;
}

.swat-pagination a {
	border: 1px solid #DDD;
	text-decoration: none;
}

.swat-pagination a:hover {
	background-color: #DDD;
	border-color: #BBB;
}

.swat-pagination a.nextprev {
	font-weight: bold;
}

.swat-pagination span.nextprev {
	color: #666;
}

.swat-pagination div.position {
	font-size: 85%;
	font-weight: bold;
	text-align: center;
	margin: 0.2em;
}



/* SwatColorEntry */

.swat-color-entry-input {
	width: 7em;
	height: 18px;
	border: 1px #CCC solid;
	background: url(images/color-entry-null.gif);
	margin: 2px;
}

.swat-color-entry-toggle {
	display: inline;
	vertical-align: middle;
}

.swat-color-entry-wrapper {
	width: 14.5em; /* 14 */
	padding: 0.5em;
	border: 1px #999 solid;
	background: #FFF;
	position: absolute;
	display: none;
	font-size: 120%;
}

.swat-color-entry-wrapper input {
	font-size: xx-small;
}

.swat-color-entry-wrapper .palette {
	width: 9.5em;
	float: left;
	padding: 0.1em;
}

.swat-color-entry-wrapper .scale {
	width: 0.7em;
	float: left;
	padding: 0.05em;
}

.swat-color-entry-wrapper .swatches {
	width: 1em;
	float: left;
	padding: 0.1em;
}
	
.swat-color-entry-wrapper .palette-footer {
	clear: left;
	font-size: 60%;
}

.swat-color-entry-wrapper .rgb-input {
	width: 3em;
}
.swat-color-entry-wrapper .hex-input {
	width: 5em;
}

.swat-color-entry-wrapper .option {
	width: 0.5em;
	height: 0.5em;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	float: left;
}

.swat-color-entry-wrapper .active {
	margin: 1 1 1 0px;
	border: 1px solid #EEE;
	width: 2em;
	height: 1.6em;
	overflow: hidden;
}
	
.swat-color-entry-wrapper .swatch {
	margin: 1 1 1 0px;
	border: 1px solid #EEE;
	overflow: hidden;
	width: 2em;
	height: 4em;
}

.swat-color-entry-wrapper .button-set {
	font-weight: bold;
	margin: 0.2em;
}

.swat-color-entry-wrapper .button-cancel {
	margin: 0.2em;
}

.swat-color-entry-wrapper .rgb {
	float: left;
}

.swat-color-entry-wrapper .hex {
	margin-left: 1em;
	float: left;
}

.swat-color-entry-wrapper .palette-buttons {
	clear: left;
}


/**
* Calendar Widget Version 1.0
* Copyright (c) 2004, Tribador Mediaworks,
*
* Brian Munroe <bmunroe@tribador.net
*
* calendar.css - Calendar Widget Standard Cascading Style Sheet
*
* Permission to use, copy, modify, distribute, and sell this software and its
* documentation for any purpose is hereby granted without fee, provided that
* the above copyright notice appear in all copies and that both that
* copyright notice and this permission notice appear in supporting
* documentation.  No representations are made about the suitability of this
* software for any purpose.  It is provided "as is" without express or
* implied warranty.
*/

.swat-calendar-div-hide {
	font-family: Arial, Helvetica;
	font-size: x-small;
	background: #fff;
	position: absolute;
	display:none;
}

.swat-calendar-div-show {
	display: block;
}

.swat-calendar-frame {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}

.swat-calendar-control-frame {
	text-align: center;
	padding: 3px;
	border: 1px solid #c0c0c0;
}

.swat-calendar-control {
	font-size: xx-small;
}

.swat-calendar-header {
	width: 2em;
	text-align: center;
	border-top: 1px solid #c0c0c0;
}

.swat-calendar-cell {
	text-align: center;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	padding: 2px;
}

.swat-calendar-current-cell {
	background: #cccc99;
	color: #000;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	padding: 2px;
}

.swat-calendar-invalid-cell {
	text-align: center;
	color: #CCC;
	border: 1px solid #c0c0c0;
	padding: 2px;
}

.swat-calendar-empty-cell {
	background: #eee;
	padding: 2px;
	border: 1px solid #c0c0c0;
}

#swat-calendar-close-controls {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

#swat-calendar-close-controls span {
	padding: 1px 4px 1px 4px;
}

#swat-calendar-close-controls a {
	cursor: pointer;
	cursor: hand;
}

.swat-calendar-close {
	color: #993333;
}

.swat-calendar-cancel {
	color: #336699;
}

.swat-calendar-today {
	color: #336699;
}

.swat-calendar-date-field {
	border: 1px solid;
	background: #fff;
	padding: 1px;
	text-align: center;
}

.swat-calendar-icon {
	vertical-align:middle; 
	cursor: pointer;
	cursor: hand;
	margin-left: 2px;
}

.swat-calendar-arrows {
	cursor: pointer;
	cursor: hand;
}

.swat-calendar-arrows-off {
	cursor: none;
}


/* Swat Actions */

.swat-actions {
	text-align: right;
}
.swat-actions label {
	display: inline;
}
.swat-action-note {
	color: #666;
	font-size: 85%;
	padding-top: 0.5em;
}
