body {
	font-family: sans-serif;
}

img { border: 0; }

/* SwatFrame */

.swat-frame {
	border: 1px solid #ccc;
	margin: 1em;
}

.swat-frame > h2 {
	margin: 0;
	padding: 0.2em;
	background: #eee;
}

.swat-frame-contents {
	margin: 0;
	padding: 1em;
}

/* SwatForm */

form { margin: 0; }

label {
	font-weight: bold;
	color: #333;
	font-size: 0.85em;
	display: block;
}

.swat-form-field {
	margin: 0 0 0.5em 0;
}

.required {
	font-weight: bold;
	color: #C00;
}

.swat-form-field-error {
	border: 1px solid #C00;
}

.swat-form-field-errormsg {
	font-color: #C00;
	background: #FCC;
	font-size: 85%;
	padding: 0.3em;
}

textarea {
	height: 15em;
	width: 30em;
}

.swat-form-footer {
	text-align: right;
}

.swat-form-footer > input.primary {
	padding: 0.2em 0.8em;
	font-weight: bold;
}
.swat-disclosure-control {
	background: #eee;
}

.swat-disclosure-container-open {
	border: 2px solid #eee;
	padding: 0.5em;
	display: block;	
}

.swat-disclosure-container-closed {
	display: none;
}
